<section [ngClass]="{'loading': !taskList.length}">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList, let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" [(ngModel)]="item.task">

      <button (click)="deleteItemTaskList(i)">
        <img src="assets/icons/icon-trash.svg">
      </button>

      <!-- Uma maneira de visualizar chave/valor do array de objetos da lista de taredas -->
      <!-- {{ item | json }} -->
    </li>
  </ul>
</section>


<!-- Mais lógico input + botão delete dentro do meu container com a listagem de tarefas-->
<app-to-do-input-add-itens></app-to-do-input-add-itens>
<app-to-do-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-to-do-button-delete-all>
